@import "tailwindcss";
/* 
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(1px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}
body{
    animation: appear 1s ease-out;
    /* animation-timeline: view(); */
    /* animation-range: entry 0% cover 40%; */
    
    
/* } */


body {
    animation: 1s ease-out forwards;
}